body {
  background: WhiteSmoke;
  box-sizing: border-box;
  color: rgb(51,51,51);
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  background: DarkGreen;
  border-bottom: 1px lightgray solid;
  color: white;
  font-size: 36px;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-shadow: 0 1px .15rem rgba(0,0,0,.35);
}

h2 {
  color: Green;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.contenedor {
  margin: 5em auto 5em auto;
  width: 998px;
}

.listado {
  margin-top: 5em;
}

.listado-item {
  background: white;
  border: 1px lightgray solid;
  border-radius: 1em;
  box-shadow: 0 .15em .35em rgba(0, 50, 0, 0.25);
  margin-bottom: 2em;
  padding: 1em;
  position: relative;
}

.listado-item:last-child {
  margin-bottom: 0;
}

.listado-item .bajada {
  color: rgb(60,60,60);
  margin: .5em 0 1em 0;
  padding: 0;
  text-align: left;
}

.listado-item p {
  margin: 0 0 .5em 0;
  text-align: right;
}

.listado-item a {
  background: red;
  border-radius: .5em;
  color: WhiteSmoke;
  display: inline-block;
  padding: .35em 1em;
  position: relative;
  right: 0;
  text-decoration: none;
}

.listado-item a:hover {
  background: DarkRed;
}

nav {
  margin-top: 5em;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul > li {
  display: inline;
}

nav ul > li > a {
  background: DarkGreen;
  border-radius: .3em;
  color: WhiteSmoke;
  display: inline-block;
  font-size: 18px;
  padding: .3em .5em;
  text-decoration: none;
}

nav ul > li > a:hover {
  background: LimeGreen;
}

nav select {
  background: white;
  border: 1px lightgray solid;
  font-size: 18px;
  height: 1.75em;
}

nav select:focus {
  outline: none;
}
